.sidebar {
    margin-bottom: 100px;
    padding-bottom: 60px;
    color: white;
    width: 317px;
    background-color: #555555;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

.sidebar-title {
    text-align: center;
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.technologies {
    margin-left: 20px;
}

.technology {
    margin-bottom: 2px;
    cursor: pointer;
}

.arrow {
    height: 14px;
    margin-top: 5px;
    margin-right: 6px;
}

.down {
    transform: rotate(90deg);
}

.templates {
    margin-left: 30px;
}

.greyed {
    color: #888888;
}

.sidebar-controls {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.sidebar-control-button {
    margin-right: 12px;
    width: 81px;
    background-color: #777777;
    color: white;
    height: 56px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    float: left;
}

.sidebar-control-button-disabled {
    color: #8e8e8e;
}

.sidebar-control-button-disabled:hover {
    background-color: #777777 !important;
}

.sidebar-control-button-disabled:active {
    background-color: #777777 !important;
}

.sidebar-control-button:hover {
    background-color: #888888;
}

.sidebar-control-button:active {
    background-color: #666666;
}

.sidebar-control-button-text {
    margin-top: 1px;
    width: 100%;
    text-align: center;
    float: left;
}