.login {
    padding: 20px 200px 75px 50px;
    background-color: #EEEEEE;
    float: left;
}

.login-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-form {
    display: inline-block;
}

.login-label {
    width: 100px;
    display: block;
}

.login-button {
    margin-left: 0px !important;
    margin-right: 10px!important;
}